.button {
  @apply relative inline-flex justify-center text-white border shadow-sm focus:outline-none focus:ring-offset-2;;
}

/* Size */
.button--xs {
  @apply px-2.5 py-1.5 text-xs rounded;
}

.button--sm {
  @apply px-3 py-2 text-sm leading-4 rounded-md;
}

.button--lg {
  @apply px-4 py-2 text-sm rounded-md;
}

.button--xl {
  @apply px-4 py-2 text-base rounded-md;
}

.button--xxl {
  @apply px-6 py-3 text-base rounded-md;
}

.button--wide {
  @apply w-full px-4 py-2 text-sm rounded-md;
}

/* color */
.button--red {
  @apply bg-red-600 border-transparent hover:bg-red-700 focus:ring-red-500;
}
.button--purple {
  @apply bg-purple-600 border-transparent hover:bg-purple-700 focus:ring-purple-500;
}
.button--yellow {
  @apply bg-yellow-600 border-transparent hover:bg-yellow-700 focus:ring-yellow-500;
}
.button--green {
  @apply bg-green-600 border-transparent hover:bg-green-700 focus:ring-green-500;
}
.button--white {
  @apply text-gray-700 bg-white border-gray-300 hover:bg-gray-50 focus:ring-green-500;
}
.button--orange {
  @apply text-white bg-orange hover:bg-dark-orange focus:ring-dark-orange border-orange;
}

/* disabled */
.button--disabled {
  @apply pointer-events-none disabled:opacity-75;
}

/* Loading */
.button--loading {
  pointer-events: none;
  opacity: 0.75;
}

.button__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.button__spinner span {
  pointer-events: none;
}
