.button {
  @apply inline-flex relative border shadow-sm font-medium
  text-white focus:outline-none justify-center focus:ring-offset-2;;
}

/* Size */
.button--xs {
  @apply px-2.5 py-1.5 text-xs rounded;
}

.button--sm {
  @apply px-3 py-2 text-sm leading-4 rounded-md;
}

.button--lg {
  @apply px-4 py-2 text-sm rounded-md;
}

.button--xl {
  @apply px-4 py-2 text-base rounded-md;
}

.button--xxl {
  @apply px-6 py-3 text-base rounded-md;
}

.button--wide {
  @apply w-full py-2 px-4 text-sm rounded-md;
}

/* color */
.button--red {
  @apply bg-red-600 hover:bg-red-700 border-transparent focus:ring-red-500;
}
.button--purple {
  @apply bg-purple-600 hover:bg-purple-700 border-transparent focus:ring-purple-500;
}
.button--yellow {
  @apply bg-yellow-600 hover:bg-yellow-700 border-transparent focus:ring-yellow-500;
}
.button--green {
  @apply bg-green-600 hover:bg-green-700 border-transparent focus:ring-green-500;
}
.button--white {
  @apply text-gray-700 bg-white border-gray-300 hover:bg-gray-50 focus:ring-green-500;
}

/* disabled */
.button--disabled {
  @apply disabled:opacity-75 pointer-events-none;
}

/* Loading */
.button--loading {
  color: transparent;
  pointer-events: none;
  opacity: 0.75;
}

.button__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.button__spinner span {
  pointer-events: none;
}
